[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
keras = "*"
colorlog = "*"
numpy = "*"
flask-cors = "*"
pprint = "*"
requests = "*"
tensorflow = "*"
pillow = "*"
theano = "*"

[dev-packages]

[requires]
python_version = "3.6"
